.hero>img{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.hero h4{
    text-align: center;
    width: 70%;
    font-size: 30px;
    font-weight: 500;
}
.hero h4 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-connect{
    padding: 2px 10px;
    border-radius: 50px;
    background :linear-gradient(267deg, #DA7C25 0.36% , #B923E1 102.06%);
    cursor: pointer;
}
.hero-resume{
    padding: 2px 10px;
    border-radius: 50px;
   border: 1.5px solid white;
    cursor: pointer;
}