.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 130px;
}
.contact-title{
    position: relative;
} 
.contact-title h1{
    padding: 0px 30px;
    font-size: 30px;
    font-weight: 600;
}
.contact-title img{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-left h1{
    font-size: 20px;
    background: linear-gradient(264deg, #DF8908 -5.09% , #B415FF 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width:550px;
    color: #D8D8D8;
    font-size: 15px;
    line-height: 20px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #D8D8D8;
    font-size: 15px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.contact-right-label{
    color: #D8D8D8;
    font-size: 15px;
}
.contact-right input{
    border: none;
    width: 400px;
    height: 35px;
    border-radius: 4px;
    padding-left: 10px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 15px;
}
.contact-right textarea{
    border: none;
    width: 350px;
    padding: 10px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 15px;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 10px 20px;
    background: linear-gradient(264deg, #DF8908 -5.09% , #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}