.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 170px;

}
.navbar>img{
    width: 50px;
    height: 50px;
}
.nav-menu {
    list-style: none;
    font-size: 20px;
    display: flex;
    gap: 60px;
   
}
.nav-contact {
    padding: 10px 40px;
    font-size: 22px;
    border-radius: 50px;
    background :linear-gradient(267deg, #DA7C25 0.36% , #B923E1 102.06%);
    cursor: pointer;
    transition: 0.5s;
}
.nav-contact:hover{
    transform: scale(1.08);
}